.question {
  background-color: white;
  text-align: center;
  margin: 70px 100px;
}

.question p {
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 3em;
  padding-top: 80px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 80px;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.option {
  background-color: #51adcf;
  padding: 15px 0;
  border-radius: 30px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.buttons div {
  margin-right: 40px;
  padding: 10px 30px;
  cursor: pointer;
}

.buttons div:nth-of-type(1) {
  background-color: #848ccf;
}

.buttons div:nth-of-type(2) {
  background-color: #a8dda8;
}

.buttons div:nth-of-type(3) {
  background-color: #f56a79;
}

.buttons div:hover,
.option:hover {
  background-color: #b0cac7;
}

.question a {
  text-decoration: none;
  color: black;
}
