.tick {
  width: 6%;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.scoreCard {
  background-color: white;
  width: 50%;
  text-align: center;
  padding: 30px 0;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.scoreCard p:nth-of-type(1) {
  font-size: 1.5em;
}

.scoreCard p:nth-of-type(2) {
  font-size: 2.2em;
  color: #848ccf;
  font-weight: 500;
}

.result > p:nth-of-type(1) {
  color: #a8dda8;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 3px;
}

.btns {
  display: flex;
  margin-top: 10px;
}

.playAgain,
.back {
  margin: 20px;
  padding: 10px 20px;
}

.playAgain {
  border: 1px solid #ffc93c;
  color: #ffc93c;
}

.back {
  border: 1px solid #a7e9af;
  color: #a7e9af;
}
